# IDE and System files (Prevents workspace locking)
.idea/
.vscode/
*.iml
.DS_Store

# Backend (Spring Boot / Maven)
backend/target/
backend/*.jar
backend/*.war
backend/.factorypath
backend/architecture.properties
